<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :questionnaire_id %>
    <%= form.text_field :questionnaire_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :question_type %>
    <%= form.text_field :question_type %>
  </div>

  <div class="field">
    <%= form.label :possible_solutions %>
    <%= form.text_field :possible_solutions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
