<%= nested_form_for @questionnaire do |f| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
        <% questionnaire.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>
  <%= f.fields_for :questions do |question| %>
    <div class="question_fields">
      <%= question.label "Question" %>
      <%= question.text_field :text %>
      <%= question.hidden_field :possible_solutions %>
      <%= question.label :question_type %>
      <%= question.select :question_type, ['Open Answer', 'Multiple Choice', 'Single Choice', 'Number'], {}, {onChange: "change_question_type()", class: 'question_type_select'}%>
      <div class="possibleSolutions">
        <div><%= question.label "Possible Answers" %></div>
        <input class="possibleSolution"/><span onClick="addPossibleSolution()">Add Possible Answer</span>
      </div>
      <p onClick="confirmSolutions()">Done With Solutions</p>
      <%= question.link_to_remove "Remove this task" %>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add a Question", :questions %></p>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
