<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @submission.questionnaire_id %>



    <%=  form.fields_for :answers do |answer| %>
      <div class="field">
        <p>Question <%= @count %></p>

        <%= @questions.find_by(id: answer.object.question_id).text %><br>

        <% if @questions.find_by(id: answer.object.question_id).possible_solutions_array %>

          <% if @questions.find_by(id: answer.object.question_id).question_type == "Multiple Choice" %>
            <%= answer.hidden_field :value %>  
            <% answer.object.question.possible_solutions_array.each do |ps| %>
              <input type="checkbox" name="possibleSolution" onChange="change_selected_answer('<%=ps%>')">
              <label for="possibleSolution"><%=ps%></label>
            <% end %>
          <% else %>
            <%= answer.select :value, @questions.find_by(id: answer.object.question_id).possible_solutions_array %>  
          <% end %>

        <% else %>    
          <%= answer.text_field :value, :required => true %>
        <% end %>

        <%= answer.hidden_field :question_id, value: answer.object.question_id %> 
        <%= answer.hidden_field :submission_id, value: @submission %> 
        <% @count += 1 %>
      </div>
    <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :required => true %>
  </div>

  <%= form.hidden_field :questionnaire_id, value: @submission.questionnaire_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



