<p id="notice"><%= notice %></p>

<h1>Submissions</h1>
<%= params[:errors] %>
<table>
  <thead>
    <tr>
      <th>Questionnaire</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.name %></td>
        <td><%= link_to "fill", new_submission_path(:questionnaire_id => questionnaire.id) %></td>
        <td><%= questionnaire.submissions.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
