<p id="notice"><%= notice %></p>

<p>
  <strong>Questionnaire:</strong>
  <%= @submission.questionnaire_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
