<!DOCTYPE html>
<html>
  <head>
    <title>SdmQuestionnaire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :manifest, "nested_form" %>
  </head>

  <body>
    <% if logged && controller_name != 'sessions' %>
      <p>Logged. <%= link_to "Log out", logout_path, method: "delete" %>
    <% elsif !logged && controller_name != 'sessions' %>
      <p>Not Logged. <%= link_to "Log in", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
